project 3 (1).json
{
  "name": "project 3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -928,
        -160
      ],
      "id": "9a69b9f2-0db6-41de-93a5-0641e9241c60",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"urls\": [\n    \"https://www.aliexpress.com/\",\n    \"https://www.temu.com/pk-en?refer_page_name=home&refer_page_id=10005_1765538708450_g8p3woj3lo&refer_page_sn=10005&_x_sessn_id=wa4csbmq54\",\n    \"https://www.olx.com/product-url\",\n    \"https://www.daraz.pk/\"\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        -160
      ],
      "id": "15b23b9e-b147-49b5-941f-a80cc9f33fb8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -272,
        -64
      ],
      "id": "cd11b0a6-e5fd-4500-9696-1803a6e52c76",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -704,
        32
      ],
      "id": "24eef047-2b3f-4c7d-9301-e37e5c1669b3"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        -64
      ],
      "id": "7b489c7e-1deb-407a-9b0b-d882bfd5185e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const urls = $json.urls;\n\nreturn urls.map(url => ({\n  json: { url }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -240
      ],
      "id": "db5b01b6-3a13-4961-9776-b512be04f3d4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\n# 1. Get all input items as a list\nitems = _input.all()\n\n# 2. Loop through each item in the list\nfor item in items:\n    # Access the JSON content of the current item\n    json_body = item.json\n    \n    # Get the HTML text from the 'data' field (default to empty string if missing)\n    html_content = json_body.get('data', '')\n    \n    # Search for the product ID pattern\n    match = re.search(r'data-product-ids=\"([^\"]+)\"', html_content)\n    \n    # 3. Add the result as a new field to the item\n    if match:\n        json_body['myNewField'] = match.group(1)\n    else:\n        json_body['myNewField'] = None\n\n# 4. Return the modified list of items\nreturn items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -64
      ],
      "id": "388c87ba-d650-4e06-8af9-64595a1fdf5f",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "You are a helpful assistant\n\n\nyou \n\nYou are a product extraction agent.\n\nYou will receive raw HTML from an e-commerce website.\n\nYour task:\nExtract ONLY the following information for every product visible in the HTML:\n\n- Product name\n- Price\n- Currency\n- Rating\n- Number of reviews\n- Image URL\n- Product URL\n\nRules:\n1. Return the extracted information as an array of JSON objects.\n2. The JSON must be clean and formatted for direct use in Google Sheets.\n3. If the HTML contains JavaScript redirects, captcha pages, or incomplete content, reply exactly with:\n   \"Captcha encountered – cannot extract product data.\"\n4. If the HTML does not contain mouse-category products, return an empty array: [].\n5. Only extract products that are part of the Mouse category.\n6. Output must be valid JSON with no additional text.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        320,
        -64
      ],
      "id": "ecbe08d9-0074-403b-96a9-70539e0ee097",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        336,
        144
      ],
      "id": "7b43edfd-7ba5-4c8c-b19c-e2213f0c5cca",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "Ow1zA8ntVaST225V",
          "name": "qaim514"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        160
      ],
      "id": "db50c2ff-99be-4792-aab8-4951334c3d54",
      "name": "Append or update row in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o2xQE6VXyxdGm1gs",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2fcb5994-92ba-4031-9fbf-e049496b5b19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "826a2a8db8a75ee7461c19d862bd3c8a0fbe505b00bb672130e4cf7642e356f2"
  },
  "id": "XFlGyn3ev7XBqU1P",
  "tags": []
}